<div class="contenedor">
    
    <div class="menu">
        <img  class="backmenu" >
        <img src="../../../assets/images/Rene logoMesa de trabajo 2.png" class="logo">
        <div *ngFor="let route of routes" class="lista">
            <div *ngFor="let subRoutes of route.children">
                <div class="frame">
                    <img src='{{subRoutes.icon}}' class="icono">
                    <a *ngIf="subRoutes.label == 'cerrar sesion'; else elseBlock" href="" (click)="logout()" >{{subRoutes.label}}</a>
                    <ng-template #elseBlock><a [routerLink]="[subRoutes.url]">{{subRoutes.label}}</a></ng-template>
                </div>
            </div>
            
        </div>
        
        
    </div>
    <div class="mostrar">
        <img src="../../../assets/icons/Hamburguer menu.png" class="menuHover">
    </div>
    <div class="seccion">
        <hr class="linea">
        <div class="titulo">
            {{titulo}}
        </div>
        <div class="avatar" >
            <img src="../../../assets/icons/usuario.png"  class="iconAvatar">
            <div class="admin" >
                <p class="usuario" (click)="logout()"> Admin</p>
            </div>
        </div>   
        <div class="contenido">
            <router-outlet></router-outlet>
        </div>
    </div>
    
</div>