<app-nav></app-nav>
<div class="container text-center content" >
    <div class="adoptacan">
        <div class="titulo">
            <h1>¿Qué es AdoptaCan?</h1>
        </div>
        <div class="texto text-start">
            <p>
                Adoptacan es un proyecto que tiene la finalidad de ayudar a los perritos, especialmente a los 
                que no tienen hogar. <br>
                Esto con la finalidad de ayudar a todos esos pequeños y grandes peludos. <br> 
                Para ello creamos una app donde se facilite el proceso de adopcion de perritos y tambien en donde
                se pueda reportar casos de perritos en estas situaciones para poder ser atendidos por los usuarios 
                de la app.
            </p>
        </div>
        <div>
            <img src="../../../assets/images/groupsDogs.png" alt="">
        </div>
    </div>
    <div class="objetivos row" style="padding-top: 80px;">
        <div class="titulo">
            <h1>Objetivos</h1>
        </div>
        <div class="col  col-12 col-md-9">
            <p>
                El motivo de este proyecto está enfocado hacia los animales, específicamente 
                a las mascotas de hogar (perro y gatos), debido a que hay una gran cantidad de 
                estos que viven en mal estado, se busca investigar, concientizar y ayudar a reducir 
                la cifra encontrándoles un hogar, con el fin de que tengan una vida digna como 
                cualquier ser vivo merece. <br>
                Diseñar, elaborar y poner en marcha el proyecto ADOPTACAN, una aplicación 
                móvil con el fin de que las personas puedan ayudar al objetivo, teniendo a la mano 
                una aplicación gratuita, fácil de usar y que pueda conectar con la comunidad de su 
                ciudad ayudando a encontrarle hogar a los animalitos. <br>
                Concientizar a las personas con la aplicación, promover el cuidado, respeto y 
                amor hacia los seres vivos. Dando consejos sobre el cuidado, sobre el que hacer 
                en varias situaciones y dando información de centros de adopción, veterinarios o 
                lugares que puedan ser de utilidad para el desarrollo de los animalitos con las 
                personas.
            </p>
        </div>
        <div class="col  col-12 col-md-3">
            <img src="../../../assets/images/dogVision.png" width="80%">
        </div>
    </div>
    <div class="row "style="padding-top: 80px;">
        <div class="mision col  col-12 col-md-6">
            <div class="titulo">
                <h1>Misión</h1>
            </div>
            <div class="texto text-start ">
                <p>
                    Nuestra meta es cubrir el estado de Aguascalientes con AdoptaCan
                    esto con la ayuda de nuestros usuarios y las tecnologias.
                </p>
            </div>
        </div>
        <div class="vision col  col-12 col-md-6">
            <div class="titulo">
                <h1>Visión</h1>
            </div>
            <div class="texto text-start ">
                <p>
                    Encontrarle un hogar a esos perritos callejeros para poder darles 
                    una mejor calidad de vida.
                </p>
            </div>
        </div>
    </div>
</div>
<img src="../../../assets/images/dogFooter.png" style="padding-top: 80px;">
<app-footer></app-footer>
