<app-nav></app-nav>
<div class="container body">
    <div class="row">
        <h1>INGENIEROS</h1>
    </div>
    <div class="row">
        <div class="content">
            <div class="row">
                <div class="card card0 col-6">
                    <div class="border">
                        <h2>Ing. Rene Guerrero</h2>
                        <div class="icons">
                            <a href="a"><i class="fa fa-instagram"id="fac"></i></a>
                            <a href="a"><i class="fa fa-facebook"id="fac"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card1 col-6">
                    <div class="border">
                        <h2>Ing. David Zermeño</h2>
                        <div class="icons">
                            <a href="a"><i class="fa fa-instagram"id="fac"></i></a>
                            <a href="a"><i class="fa fa-facebook"id="fac"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>PERRITOS QUE NOS ACOMPAÑARON</h1>
    </div>
    <div class="row">
        <div class="content">
            <div class="row">
                <div class="card card0 col-6">
                    <div class="border">
                        <h2>Kiara</h2>
                        <div class="icons">
                            <a href="a"><i class="fa fa-instagram"id="fac"></i></a>
                            <a href="a"><i class="fa fa-facebook"id="fac"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card1 col-6">
                    <div class="border">
                        <h2>Konie</h2>
                        <div class="icons">
                            <a href="a"><i class="fa fa-instagram"id="fac"></i></a>
                            <a href="a"><i class="fa fa-facebook"id="fac"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
