.body{
    padding-top: 120px;
}

.content{
    height: 100vh;
    width: 0vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    margin: 0 auto;
}

.border{
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
}

.border:hover{
    border: 1px solid#fff;
}

a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#ins:hover{
    color: #dd4b39;
}

#twi:hover{
    color: #55acee;
}

#fac:hover{
    color: #3b5999;
}

.card{
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    box-shadow: 0 70px 63px -60px #000;
}

.card0{
    background: url("../../../assets/images/dogVision.png") center center no-repeat;
    background-size: 300px;
}

.card0:hover{
    background: url("../../../assets/images/dogVision.png") center center no-repeat;
    background-size: 600px;
}

.card0:hover h2{
    opacity: 1;
}

.card0:hover .fa{
    opacity: 1;
}

.card1{
    background: url("../../../assets/images/dogVision.png") center center no-repeat;
    background-size: 300px;
}

.card1:hover{
    background: url("../../../assets/images/dogVision.png") center center no-repeat;
    background-size: 600px;
}

.card1:hover h2{
    opacity: 1;
}

.card1:hover .fa{
    opacity: 1;
}

h2{
    font-family:Arial, Helvetica, sans-serif;

    opacity: 1;
}

.fa{
    opacity: 0;
    transition: opacity 1s;
}


textarea {
    resize: none;
  }
  
.button {
    border-radius: 4px;
    background-color: #a1b5c7;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    height: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .button:hover:after {
    opacity: 1;
    right: 10px;
  }

  .fondoDon{
    background: url("../../../assets/images/fondoDonacion.jpg") center center no-repeat;
    background-size: 90%;
  }